<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="textFilter(f, params)">
    <div class="crud-filter">
        <label class="crud-filter__label"
               th:for="${'flt-' + f.name}"
               th:text="${f.label}">
            Filtro
        </label>

        <input class="crud-filter__input"
               th:id="${'flt-' + f.name}"
               th:name="${f.name}"
               type="search"
               autocomplete="off"
               th:attr="placeholder=${f.placeholder}"
               th:value="${params[f.name]}" />
    </div>
</th:block>

<th:block th:fragment="numberFilter(f, params)">
    <div class="crud-filter">
        <label class="crud-filter__label"
               th:for="${'flt-' + f.name}"
               th:text="${f.label}">
            Filtro
        </label>

        <input class="crud-filter__input"
               th:id="${'flt-' + f.name}"
               th:name="${f.name}"
               type="number"
               th:attr="placeholder=${f.placeholder}"
               th:value="${params[f.name]}" />
    </div>
</th:block>

<th:block th:fragment="dateFilter(f, params)">
    <div class="crud-filter">
        <label class="crud-filter__label"
               th:for="${'flt-' + f.name}"
               th:text="${f.label}">
            Filtro
        </label>

        <input class="crud-filter__input"
               th:id="${'flt-' + f.name}"
               th:name="${f.name}"
               type="date"
               th:value="${params[f.name]}" />
    </div>
</th:block>

<th:block th:fragment="selectFilter(f, params)">
    <div class="crud-filter">
        <label class="crud-filter__label"
               th:for="${'flt-' + f.name}"
               th:text="${f.label}">
            Filtro
        </label>

        <select class="crud-filter__select"
                th:id="${'flt-' + f.name}"
                th:name="${f.name}">
            <option value="">Todos</option>
            <option th:each="opt : ${f.options}"
                    th:value="${opt.value}"
                    th:text="${opt.label}"
                    th:selected="${params[f.name] == opt.value}">
            </option>
        </select>
    </div>
</th:block>

</body>
</html>