<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="filtroTexto(f, parametros)">
    <div class="filtro-crud">
        <label class="filtro-crud__rotulo"
               th:for="${'flt-' + f.nome}"
               th:text="${f.rotulo}">
            Filtro
        </label>

        <input class="filtro-crud__entrada"
               th:id="${'flt-' + f.nome}"
               th:name="${f.nome}"
               type="search"
               autocomplete="off"
               th:attr="placeholder=${f.dica}"
               th:value="${parametros[f.nome]}" />
    </div>
</th:block>

<th:block th:fragment="filtroNumero(f, parametros)">
    <div class="filtro-crud">
        <label class="filtro-crud__rotulo"
               th:for="${'flt-' + f.nome}"
               th:text="${f.rotulo}">
            Filtro
        </label>

        <input class="filtro-crud__entrada"
               th:id="${'flt-' + f.nome}"
               th:name="${f.nome}"
               type="number"
               th:attr="placeholder=${f.dica}"
               th:value="${parametros[f.nome]}" />
    </div>
</th:block>

<th:block th:fragment="filtroData(f, parametros)">
    <div class="filtro-crud">
        <label class="filtro-crud__rotulo"
               th:for="${'flt-' + f.nome}"
               th:text="${f.rotulo}">
            Filtro
        </label>

        <input class="filtro-crud__entrada"
               th:id="${'flt-' + f.nome}"
               th:name="${f.nome}"
               type="date"
               th:value="${parametros[f.nome]}" />
    </div>
</th:block>

<th:block th:fragment="filtroSelecao(f, parametros)">
    <div class="filtro-crud">
        <label class="filtro-crud__rotulo"
               th:for="${'flt-' + f.nome}"
               th:text="${f.rotulo}">
            Filtro
        </label>

        <select class="filtro-crud__selecao"
                th:id="${'flt-' + f.nome}"
                th:name="${f.nome}">
            <option value="">Todos</option>
            <option th:each="opt : ${f.opcoes}"
                    th:value="${opt.valor}"
                    th:text="${opt.rotulo}"
                    th:selected="${parametros[f.nome] == opt.valor}">
            </option>
        </select>
    </div>
</th:block>

</body>
</html>